<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quote Generator-SignUp</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div class="container">
        <div class="title">
            <h1>QuoteNook</h1>
        </div>
        <div class="card">
            <input type="text" placeholder="Username">
            <input type="password" placeholder="Password">
        </div>
        <button class="btn">Sign Up</button>
        <p>Already a member? <a href="login.html" class="signup-link"> Login</a></p>
    </div>
</body>
</html>
