<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quote Generator-Login</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div class="container">
        <div class="title">
            <h1>QuoteNook</h1>
        </div>
        <div class="card">
            <form action="/verify" method="POST">
                <input type="text" placeholder="Username" name="username" required>
                <button type="submit" class="btn">GET OTP</button>
                <% if (messages && messages.length > 0) { %>
                    <div style="color: white;">
                        <% for (var i = 0; i < messages.length; i++) { %>
                            <p><%= messages[i] %></p>
                        <% } %>
                    </div>
                <% } %>
            </form>
        </div>
        <p><a href="login" class="signup-link">login </a></p>
    </div>
</body>
</html>
