<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quote Generator - Reset Password</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div class="container">
        <div class="title">
            <h1>QuoteNook</h1>
        </div>
        <div class="card">
            <form action="/reset-password" method="POST">
                <input type="hidden" name="userId" value="<%= userId %>">
                <input type="password" placeholder="New Password" name="newPassword" required>
                <button type="submit" class="btn">Reset Password</button>  
            </form>
        </div>
    </div>
</body>
</html>
